 <%= simple_form_for([current_user, @car], remote: true, url: client_cars_path) do |f| %>
  <%= f.error_notification %>
  <p>
    <%= f.input :name %>
  </p>

  <br>
    <%= f.color_field :color, label: 'Color' %>
  <br>
  <br>
  <p>
    <%= f.input :model %>
  </p>
  <p>
    <%= f.input :brand %>
  </p>
  <p>
    <%= f.input :plate %>
  </p>
  <p>
    <%= f.input :photo %>
  </p>

  <%= f.input :photo_cache, as: :hidden %>


  <p> <%= f.submit class: "btn btn-primary button-rounded", id: "form-submit" %>

  </p>
<% end %>
