var booking = document.getElementById("booking");
var index = document.getElementById("index");

var newCar = "";
var newCarBooking = null;

if (booking) {
  function refreshForm(innerHTML) {
    var newCarForm = document.getElementById("new-car-booking");
    newCarForm.innerHTML = innerHTML;
  }

  newCar = `
  <div class="form-check">
  <input class="form-check-input radio_buttons optional" type="radio" value="<%= @car.id %>" name="booking[car_id]" id="booking_car_id_<%= @car.id %>">
  <label class="collection_radio_buttons" for="booking_car_id_<%= @car.id %>"><%= @car.name %></label></div>`

  function addCar(car) {
    var cars = document.getElementById('new_booking');
    cars.insertAdjacentHTML('beforeend', car);
    var carForm = document.getElementById("new-car-booking");
    carForm.classList.add("hidden");

  }
}


if (index) {

  function refreshForm(innerHTML) {
    var newCarForm = document.getElementById("new-car-index");
    newCarForm.innerHTML = innerHTML;
  }

  newCar = `<%= @car.name %>`

  function addCar(car) {
    var cars = document.getElementById('new_index');
    cars.insertAdjacentHTML('beforeend', car);
    var carForm = document.getElementById("new-car-index");
    carForm.classList.add("hidden");

  }
}

// Check for errors and render form or add to list.
<% if @car.errors.any? %>
refreshForm('<%= j render "client/cars/form", user: current_user, car: @car %>');
<% else %>
addCar(newCar);
refreshForm('<%= j render "client/cars/form", user: current_user, car: Car.new %>');
<% end %>

