<div class="container wrapper">
    <div class="icon-box-title">
    <img src="<%= asset_url('car.png') %>" alt="" class="icon-box-title">
  </div>
  <div class="box-inline-title">
    <p>Edit your car</p>
  </div>
  <br>
  <br>
  <%= simple_form_for([:client, @car]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="input-sign-up">
        <%= f.input :name, label: false, placeholder: "Name (Mama's car)" %>
      </div>

      <div class="input-sign-up">
        <%= f.input :color, label: false, placeholder: "Color (Black)" %>
      </div>

      <div class="input-sign-up">
        <%= f.input :model, label: false, placeholder: "Model (206)" %>
      </div>

      <div class="input-sign-up">
        <%= f.input :brand, label: false, placeholder: "Brand (Peugot)" %>
      </div>

      <div class="input-sign-up">
        <%= f.input :plate, label: false, placeholder: "Plate (GKS125)" %>
      </div>

      <div style="display: none;">
        <%= f.input :photo, label: false %>
      </div>

      <div>
        <div class="icon-position" onclick="document.getElementById('car_photo').click();">
          <i class="fas fa-camera"></i>
          <p>Upload picture</p>
        </div>
      </div>

    </div>
    <%= f.input :photo_cache, as: :hidden %>
    <p><%= f.submit class: "button-rounded width-100 btn-modal", id: "form-submit" %></p>
  <% end %>
</div>
