<div id="index">
  <div class="container">
    <br>
    <br>
    <%= link_to "Back", root_path, class: "btn-warning" %>
    <br>
    <br>

    <button type="button" class="btn btn-primary" id="add-car-index" data-toggle="modal" data-target=".bs-example-modal-lg">+ Add new Car</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg container hidden" id="new-car-index" role="document">
        <div class="modal-content">
          <%= render 'form', car: @car, client: current_user %>
        </div>
      </div>
    </div>

    <div id="new_index">
      <% @cars.each do |car| %>
      <div class="row" id="car-index">
        <div class="card">
          <%= car.name %>
          <%= car.color %>
          <%= car.model %>
          <%= car.brand %>
          <%= link_to "View", client_car_path(car), class: "btn-success" %>
          <%= link_to "Edit", edit_client_car_path(car), class: "btn-primary" %>
          <%= link_to "Delete", client_car_path(car), class: "btn-danger", method: :delete, data: { confirm: "Are you sure?"} %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
