<div class="cards-container">
  <div class="card-container">
    <div class="card-text-group">
      <div class="car-title">
        <% if current_user.role == 'client' %>
        <h5><%= booking.car.name.capitalize %></h5>
        <% elsif current_user.role == 'washer' %>
        <h5><%= booking.car.plate.upcase %></h5>
        <% end %>
      </div>
      <div class="car-description">
        <p> <%= booking.address.truncate(18) %></p>
        <% if current_user.role == "client" %>
        <p class="spacing-sm-card" id="mins"> Washed by <%= booking.washer.first_name %></p>
        <% elsif current_user.role == "washer" %>
        <p class="spacing-sm-card" id="mins"> <%= booking.car.brand %> <%= booking.car.model %></p>
        <% end %>
      </div>
    </div>
    <div class="right-description">
      <p> <%= booking.created_at.strftime("%m/%d/%Y") %> </p>
      <p id="price" class="spacing-price-card"> $260 </p>
    </div>
  </div>
  <div class="row-button">
    <div class="button-pick">
      <% if current_user.role == 'client' %>
      <%= link_to "More information", client_booking_path(booking.id)%>
      <% elsif current_user.role == 'washer' %>
      <%= link_to "More information", booking_path(booking.id)%>
      <% end %>
    </div>
  </div>
</div>
