<h1>Bookings#show FOR THE CLIENT</h1>
<br>
<p>Car: <%= @booking.car.name %></p>
<p>Address: <%= @booking.address %></p>
<p>Service: DELUXE </p>
<p>Time: 40 mis</p>
<P>Price: $150 </P>

<p>STATUS: <%= @booking.status %></p>

<% case @booking.status %>
  <% when 'washer_pending' %>
    <p> We are looking for a washer</p>
  <% when 'washing' %>
    <p>Your cleaning is in process</p>
  <% when 'washed' %>
    <%= link_to "OK", client_booking_path(@booking.id), method: :put, class: "btn btn-success" %>
  <% when 'completed' %>
    <%= link_to "Home", root_path, class: "btn btn-success" %>
<% end %>
