
<div class="wrapper">
  <div class="icon-box-title">
    <img src="<%= asset_url('user.png') %>" alt="" class="icon-box-title">
  </div>
  <div class="box-inline-title">
    <p>My profile</p>
  </div>
  <div class="container">
    <div class="background-image" style="background-image: url('<%= cl_image_path current_user.photo_url %>');">
    </div>
    <div class="white-box">
      <!-- PUT NAME OR USERNAME(MAIL) -->
      <p> <%= current_user.email %> </p>
    </div>
    <div class="box-description">
          <ul>
        <li>
          <i class="fas fa-user"></i>
          <%= @user.role.capitalize %> since <%= @user.created_at.strftime("%d/%m/%Y") %>
        </li>
        <hr>
        <li><i class="fas fa-car"></i>
          You own <%= pluralize(@user.cars.count, "car") %>
        </li>
        <hr>

        </ul>
       <% if @nro_bookings = [] %>
       <i class="far fa-frown" style="font-size: 30px"></i>
        You don't have any washes yet
        <% else %>
        <i class="far fa-happy" style="font-size: 30px"></i>
          <%= @nro_bookings.last  %>
          <% end %>
      </div>

      </div>
    </div>
  </div>
</div>



