<div class="wrapper">
  <div class="icon-box-title">
    <img src="<%= asset_url('user.png') %>" alt="" class="icon-box-title">
  </div>
  <div class="box-inline-title">
    <p>My profile</p>
  </div>
  <div class="container">

    <% if current_user.photo_url.present? %>
    <div class="background-image" style="background-image: url('<%= cl_image_path current_user.photo_url %>');">
    </div>
    <% else %>
   <div class="background-image" style="background-size: contain; background-image: url('https://res.cloudinary.com/dz9qskljz/image/upload/v1530824448/WASHR/logo_carwash02.png');">
    </div>
    <% end %>

    <div class="white-box">
      <!-- NAME OR USERNAME(MAIL) -->
      <p> <%= current_user.email %> </p>
    </div>
    <div class="box-description">
      <ul>
        <li>
          <!-- ROLE -->
          <i class="fas fa-user"></i>
          <%= @user.role.capitalize %> since <%= @user.created_at.strftime("%d/%m/%Y") %>
        </li>
        <hr>
        <li><i class="fas fa-car"></i>
          <% if current_user.role == 'client' %>
          You own <%= pluralize(@user.cars.count, "car") %>
          <% elsif current_user.role == 'washer' %>
          You washed <%= pluralize(@user.bookings.count, "car") %>
          <% end %>
        </li>
        <hr>
      </ul>
      <br>
      <i class="far fa-smile" style="font-size: 50px"></i>
    </div>
  </div>
</div>
</div>
</div>
