<div class="wrapper">
  <div class="icon-box-title">
    <img src="<%= asset_url('user.png') %>" alt="" class="icon-box-title">
  </div>
  <div class="box-inline-title">
    <p>My profile</p>
  </div>
  <div class="container">
    <div class="background-image" style="background-image: url('<%= cl_image_path current_user.photo_url %>');">
    </div>
    <div class="white-box">
      <!-- PUT NAME OR USERNAME(MAIL) -->
      <p> <%= current_user.email %> </p>
    </div>
    <div class="box-description">
      <ul>
        <li>
          <i class="fas fa-user"></i>
          <%= @user.role.capitalize %> since <%= @user.created_at.strftime("%d/%m/%Y") %>
        </li>
        <hr>
        <li><i class="fas fa-car"></i>
          You own <%= pluralize(@user.cars.count, "car") %>
        </li>
        <hr>

      </ul>
      <i class="far fa-happy" style="font-size: 30px"></i>

    </div>






  </div>
</div>
</div>
</div>



