<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%), url('https://bizone.biz/38-thickbox_default/car-wash.jpg');">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-right" style="border-radius: 5px; background-color: rgba(250,250,250,0.7); padding: 25px">
    <div style="color:grey; font-size: 40px">
    Fill the form and start winning money right now!
    </div>


  <%= simple_form_for @washer_profile do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :phone_number %>
      <%= f.input :dni_id %>
      <%= f.input :dni_photo , as: :file %>
      <%#= f.input :dni_photo_cache, as: :hidden %>
      <%= f.button :submit, "Confirm registration!" %>
   </div>
  <% end %>

  </div>
</div>
