<div id="booking">

  <% if @cars.empty? %>
  <div class="container" id="new-car-booking">
    <h2>Add your car:</h2>
    <%= render 'client/cars/form', car: @car, client: current_user %>
  </div>

  <% else %>

  <button type="button" class="btn btn-primary" id="add-car-booking" data-toggle="modal" data-target=".bs-example-modal-lg">+ Add new Car</button>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg container hidden" id="new-car-booking" role="document">
      <div class="modal-content">
        <%= render 'client/cars/form', car: @car, client: current_user %>
      </div>
    </div>
  </div>


  <% end %>

  <div class="container">
    <%= simple_form_for @booking do |f| %>
    <%= f.button :submit %>
    <%= f.error :car %>

    <%= f.input :car_id, collection: @cars, as: :radio_buttons %>
    <%= f.hidden_field :address, value: @booking.address %>
    <% end %>
  </div>

  <img src="https://picsum.photos/1300/50" alt="Map">

</div>
