<h1>Bookings#show</h1>
<br>
<p>Car: <%= @booking.car.brand %></p>
<p> Washer: <%= @booking.washer.first_name %> <%= @booking.washer.last_name %></p>
<p> Status: <%= @booking.status%></p>
<%= link_to "pick", edit_booking_path(@booking.id), class: "btn btn-success" %>
