<div class="cards-container">
  <div class="card-container" id="edges-rounded">
    <div class="card-text-group">
      <div class="car-title">
        <h5><%= car.name %></h5>
        <h6> <%= car.plate %> </h6>
      </div>
      <hr>
      <div class="car-description">
        <p> <%= car.brand %> <%= car.model %> </p>
        <p>  <%= car.color %></p>
      </div>
    </div>
    <div class="photo-square-xs" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300');">
    </div>
  </div>
</div>
</div>
