<div class="cards-container">
  <div class="card-container" id="edges-rounded">
    <div class="card-text-group">
      <div class="car-title">
        <h5><%= car.name %></h5>
        <h6> <%= car.plate %> </h6>
      </div>
      <hr>
      <div class="car-description">
        <p> <%= car.brand %> <%= car.model %> </p>
        <p>  <%= car.color %></p>
      </div>
    </div>
    <div class="photo-square-xs" style="background-image: url('<%= car.photo_url %>');"></div>
  </div>
</div>
