<div class="cards-container">
  <div class="card-container">
    <div class="card-text-group">
      <div class="car-title">
        <h5><%= booking.car.name.capitalize %></h5>
      </div>
      <div class="car-description">
        <p> <%= booking.car.brand.capitalize %> <%= booking.car.model.capitalize %></p>
        <p>  <%= booking.car.color.capitalize  %> </p>
        <p id="mins"><%= ((Time.now - booking.created_at)/60).round(0) %>min ago </p>
      </div>
    </div>
    <div class="right-description">
      <p> <%= (booking.distance_from([@location.latitude,@location.longitude])).round(1)  %> kms </p>
      <p class="dark-blue-light-italic"> Palermo </p>
      <p id="price"> $260 </p>
    </div>
  </div>
  <div class="row-button">
    <div class="button-pick">
      <%= link_to "Pick Service", booking_path(booking.id) %>
    </div>
  </div>
</div>
</div>
