<div class="cards-container">
  <div class="card-container edges-rounded car-js-handler" id="<%= car.id %>">
    <div class="card-text-group">
      <div class="car-title">
        <h5><%= car.name %></h5>
        <h6> <%= car.plate.upcase %> </h6>
      </div>
      <hr>
      <div class="car-description">
        <p> <%= car.brand %> <%= car.model %> </p>
        <p>  <%= car.color %></p>
      </div>
    </div>
    <div class="photo-square-xs" style="background-image: url('<%= car.photo_url %>');"></div>
  </div>
  <div class="car-select-btn hide_button">
    <i class="fas fa-angle-right"></i>
  </div>
</div>
