registration.html.erb
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%), url('http://bizone.biz/38-thickbox_default/car-wash.jpg');">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-right" style="border-radius: 5px; background-color: rgba(250,250,250,0.7); padding: 25px">
    <div style="color:grey; font-size: 40px">
    Fill the form and start winning money right now!
    </div>


  <%= simple_form_for @user do |f| %>
  <%#= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name%>
      <%= f.input :last_name%>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, "Confirm registration!" %>
   </div>
  <% end %>

  <%#= render "devise/shared/links" %>

<% raise %>
      <%#= link_to "Confirm registration!", bookings_path, {:style=>'color:grey; background-color:#a6b1c1; border-radius: 10px; padding: 10px'}%>

  </div>
</div>


<%#= link_to "Confirm Address", new_booking_path(address: params[:address]), class: "btn btn-primary"  %>

<%#= form_tag root_path, method: :get do %>
  <%#= text_field_tag :address,
  params[:address],
  class: "form-control",
  placeholder: "Enter address"
  %>
<%# end %>


